* {
    margin : 0;
    padding : 0;
}

body {
    background : #eee;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 71%
}

#container {
    margin : auto;
    width : 400px;
    height : 40%;
}

#container1 {
    width : 200px;
    float : left;
}

#container2 {
    width : 200px;
    float : right;
}

#scanscreen {
    margin : 0 0 5px;
    padding : 5px;
    width : 370px;
    height : 100px;
    background : #fff;
    border : #f9f9f9 solid 1px;
}

#line1 {
    margin : 0;
    padding : 0;
    list-style : none;
}

#line2 {
    margin : 30px 0 0 0;
    padding : 0;
    list-style : none;
}

#line3 {
    margin : 30px 0 0 0;
    padding : 0;
    list-style : none;
}

#line1 li {
    float : left;
    margin : 0 5px 5px 0;
    width : 40px;
    height : 40px;
    line-height : 40px;
    text-align : center;
    background : #fff;
    border : #f9f9f9 solid 1px;
    border-radius: 5px;
}

#line2 li {
    float : left;
    margin : 0 5px 5px 0;
    width : 40px;
    height : 40px;
    line-height : 40px;
    text-align : center;
    background : #fff;
    border : #f9f9f9 solid 1px;
    border-radius: 5px;
}

#line3 li {
    float : left;
    margin : 0 5px 5px 0;
    width : 40px;
    height : 40px;
    line-height : 40px;
    text-align : center;
    background : #fff;
    border : #f9f9f9 solid 1px;
    border-radius: 5px;
}

