{% extends "layout.html" %}
{%block body %}

<div id="container">
		<textarea id="scanscreen" rows="6" cols="60"></textarea>
<div id="container1">
	<ul id="line1">
		<li class="button" OnClick="javascript:invokeCmd('KEY07')">Hold</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY05')">Pri</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY09')">Search</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY10')">SVC</li>
	</ul>
	<br>
	<ul id="line2" >
		<li class="button" OnClick="javascript:invokeCmd('KEY00')">Scan</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY01')">Manual</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY08')">Limit</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY11')">Data</li>
	</ul>
	<br>
	<ul id="line3">
	        <li class="button" OnClick="javascript:invokeCmd('KEY06')">Skip</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY12')">Delay</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY14')">shift</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY13')">Trunk</li>
	</ul>
	</div>
	<div id="container2">
	<ul id="line1">
		<li class="button" OnClick="javascript:invokeCmd('KEY07')">1</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY05')">2</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY09')">3</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY10')">4</li>
	</ul>
	<br>
	<ul id="line2" >
		<li class="button" OnClick="javascript:invokeCmd('KEY00')">5</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY01')">6</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY08')">7</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY11')">8</li>
	</ul>
	<br>
	<ul id="line3">
	        <li class="button" OnClick="javascript:invokeCmd('KEY06')">9</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY12')">.</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY14')">0</li>
		<li class="button" OnClick="javascript:invokeCmd('KEY13')">E</li>
	</ul>
		
</div>
</div>
{% endblock %}

