<!doctype html>
<title>WebGui Pro 2052</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script>
	function invokeCmd(param) {
		var url = "{{ url_for('runcmd') }}" + '?Button='  + param
		var http = new XMLHttpRequest();
		http.open("GET", url, true);
		http.send(null);
		http.onreadystatechange = function()
{
   if(this.readyState == 4 && this.status == 200)
     {
     document.getElementById('freq').value = this.responseText;
     }
}

}

</script>
<div class=page>
	<h1>WebGui Pro 2052</h1>
	{% block body%}
	
	{% endblock %}
</div>
